body {
    background-color: #98DDCA;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}

header {
    background-color:#609fa1cf;
    padding: 10px;
    border-top: 3px solid #405b5c;
    border-bottom: 3px solid #405b5c;
}

h1 {
    margin: 0;
    color:#282a2af0;
    font-weight: 600;
}

.card {
    background-color: #50a8c373;
    width: 400px;
    border-radius:5%;
    text-align: center;
    margin: 20px 20px 0 20px;
    box-shadow: 5px 10px 10px #606864;
}

#cards-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
    color:#282a2af0;
    font-size: 2rem;
    padding: 0;
    margin: 10px 0;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    color:#343838f0;
}

.buttonArea {
    display: flex;
    justify-content: center;
}

.addBookButton {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    background-color: #2e9ca5;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
    border: 1px solid #415a5c;
}

.addBookButton:hover {
    background-color: #1e666d;
}
